{% extends "parts/base/base.html" %}

{% load static %}

{% block title_block %}Edit Post:{{post.title}}{% endblock %}

{% block head_block %}<link rel="stylesheet" href="{% static 'style/posts/add-post.css' %}">{% endblock %}

{% block body_block %}

    <!-- Nav -->
    {% include "parts/nav/nav.html" %}
    <!-- End-Nav -->

    <div class="main">
        <form method="post">

            {% csrf_token %}

            <div class="post-title-div">
                <label for="post-title-id">Post Title</label>
                <input maxlength="60" type="text" name="title" id="post-title-id" placeholder="Post Title" value="{{post.title}}" required>
            </div>
            <div class="post-body-div">
                <label for="post-body-id">Body</label>
                <textarea name="body" id="post-body-id" placeholder="Post Body" required>{{post.body}}</textarea>
            </div>
            <div class="comments-div">
                <div class="comments-count">
                    {{comments | length}} comments
                </div>
                <div class="comments-div">
                    {% comment %} <div class="comment">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quas?
                    </div> {% endcomment %}
                    {% for comment in comments %}
                        <div class="comment">
                            {{comment.name}}:{{comment.comment}}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="post-button-div">
                <button type="submit">+-*/ Edit Post</button>
            </div>
            <div>
                {% include "parts/form/form_validation_errors.html" %}
            </div>

        </form>
    </div>

{% endblock %}
