{% extends "parts/base/base.html" %}

{% load static %}

{% block title_block %}Post:{{post.title}}{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'style/posts/postdetail.css' %}">
    <meta name="author" content="{{post.author}}">
    <meta name="description" content="{{post.title}}">
    <meta name="">
{% endblock %}

{% block body_block %}

    <!-- Nav -->
    {% include "parts/nav/nav.html" %}
    <!-- End-Nav -->

    <!-- Content -->
    <div class="content-div">
        <!-- Post-Detail -->
        <div class="post-detail-div">
            <div class="post-name">{{post.title}}</div>
            <div class="author"><a href="{{post.author.get_absolute_url}}">{{post.author}}</a></div>
            <div class="published-detail"><cite>{{post.publish | date:"M/d/Y"}}</cite></div>
        </div>
        <!-- End-Post-Detail -->

        <!-- Post -->
        <div class="post-main-div">
            {{post.body | linebreaks}}
        </div>
        <!-- End-Post -->

        <!-- Comment -->
        <div class="comment-div">
            <div class="comments-count">
                {{comments | length}} comments
            </div>
            <div class="comments-div">
                {% comment %} <div class="comment">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, quas?
                </div> {% endcomment %}
                {% for comment in comments %}
                    <div class="comment">
                        {{comment.name}}:{{comment.comment}}
                    </div>
                {% endfor %}
            </div>
            <div class="new-comment-div">
                <form method="POST">

                    {% csrf_token %}

                    <div class="comment-name-fld">
                        <label for="name-fld" class="name-lbl">Name</label>
                        <input maxlength="60" type="text" name="name" id="name-fld" class="name-inp">
                    </div>
                    <div class="comment-text-fld">
                        <label for="text-fld" class="text-lbl">Comment</label>
                        <textarea id="text-fld" name="comment" class="text-inp"></textarea>
                    </div>
                    <div class="comment-submit-btn">
                        <button type="submit">Comment</button>
                    </div>

                    <div>
                        {% include "parts/form/form_validation_errors.html" %}
                    </div>

                </form>
            </div>
        </div>
        <!-- End-Comment -->

        <!-- Tags -->
        <div class="tags-div">
            <div class="tags-txt-div">
                Tags
            </div>
            {% for tag in post.tags.all %}
                <div>{{tag}}</div>
            {% endfor %}
        </div>
        <!-- End-Tags -->

        <!-- Related -->
        <div class="related-posts-div">
            <div class="rel-pst-txt-div">
                Related Posts
            </div>
            {% for post in similar_posts %}
                <a href="{{post.get_absolute_url}}">{{post}}<br><sub>{{post.author}}</sub></a>
            {% endfor %}
        </div>
        <!-- End-Related -->

    </div>
    <!-- End-Content -->

    {% include "parts/footer/footer.html" %}

{% endblock %}
