div.login-form-div {
    width: 50%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

div.login-form-div div {
    margin: 5%;
}

div.login-form-div button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.login-form-div button:hover {
    border: 1px solid #6209AB;
}

div.login-form-div button:active {
    background-color: #C96FFF;
    color: #CFCFCF;
}

div.form-errors-inner-div {
    background-color: #FF0345;
    border-radius: 5px;
    padding: 5px;
}

div.form-errors-inner-div p,
ul,
li {
    background-color: #FF0345;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

div.signin-redirect-div {
    padding-top: 10%;
}

div.signin-redirect-div div {
    margin: 5%;
    text-align: center;
}

div.signin-redirect-div a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
}

div.signin-redirect-div a:hover {
    color: #C96FFF;
    opacity: 1;
}



@media screen and (max-width: 1024px) {
    div.login-form-div {
        width: 100%;
    }
    form {
        margin: 5%;
    }
}