div.pagination-div {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
    clear: both;
}

span.pagination-spn {
    border-radius: inherit;
    font-size: 150%;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

div.pagination-spn a {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

div.pagination-div a:hover {
    color: #E9E9E9;
    background-color: #A64DEF;
    border-radius: 5px;
}

div.pagination-div a.current-page-number {
    color: #E9E9E9;
    background-color: #A64DEF;
    border-radius: 5px;
}
