{% extends "parts/base/base.html" %}

{% load static %}

{% block title_block %}Edit Your Account{% endblock %}

{% block head_block %}<link rel="stylesheet" href="{% static 'style/users/user-detail-edit.css' %}">{% endblock %}

{% block body_block %}
    <!-- Nav -->
    {% include "parts/nav/nav.html" %}
    <!-- End-Nav -->


    <div class="main">
        <div>
            {% comment %} enctype="multipart/form-data" is used to upload file(image) {% endcomment %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <div class="user-detail-edit-div">
                        <div class="full-name-div">
                            <label for="full-name-id">Full Name</label>
                            <input type="text" name="fullname" id="full-name-id" maxlength="60" placeholder="Ali Hosseini" value="{{user.full_name}}">
                        </div>
                        <div class="age-div">
                            <label for="age-id">Age</label>
                            <input type="number" min="1" max="250" name="age" id="age-id" placeholder="16" value="{{user.age}}">
                        </div>
                        <div class="sex-div">
                            <p>
                                <label for="sex-id">Male</label>
                                <input type="radio" name="sex" value="male"
                                {% if user.sex == "male" %}
                                    checked
                                {% endif %}
                                >
                            </p>
                            <p>
                                <label for="sex-id">Female</label>
                                <input type="radio" name="sex" value="female"
                                {% if user.sex == "female" %}
                                    checked
                                {% endif %}
                                >
                            </p>
                            <p>
                                <label for="sex-id">Other</label>
                                <input type="radio" name="sex" value="other"
                                {% if user.sex == None or user.sex == "other" %}
                                    checked
                                {% endif %}
                                >
                            </p>
                        </div>
                        <div class="addr-div">
                            <label for="bio-id">Bio</label>
                            <textarea name="bio" maxlength="250" id="bio-id" placeholder="Bio...">{{user.bio}}</textarea>
                        </div>
                        <div class="image-prof-div">
                            <label for="img-prof-id">Upload Image</label>
                            <input type="file" name="image_prof" id="img-prof-id">
                        </div>
                        <div class="button-div">
                            <button type="submit">Change</button>
                        </div>
                    </div>
                    
                    <div>
                        {% include "parts/form/form_validation_errors.html" %}
                    </div>
                    <div class="change-passwd-div">
                        <a href="{% url 'users:user_change_passwd_view_page' %}">You can change your password in here</a>        
                    </div>
                </fieldset>
            </form>
        </div>
    </div>



{% endblock %}
